body {
   display: flex;
   flex-direction: column;
   background: url(../Assets/backgrounds/login_background.svg) no-repeat #050a0e 50% 0;
   background-size: cover;
}

.cadastro-card {
   min-width: 400px;
   min-height: 450px;
   padding: 30px;
   margin: 100px 0px;
   align-self: center;
   position: relative;
   z-index: 1;
   filter: drop-shadow(0 0 5px #ff003c) drop-shadow(0 0 5px #ff003c);
}

.cadastro-card::before, .cadastro-card::after {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   background-color: #050a0e;
   clip-path: shape(from 0 0, line to 97% 0%, line to 100% 5%, line to 100% 100%, line to 3% 100%, line to 0% 95%, close);
   z-index: -1;
}

.cadastro-card::after {
   background: linear-gradient(45deg, transparent, #ff003c26, transparent);
}

.cadastro-card-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0px;
}

.cadastro-card-title h1 {
   font-size: 18px;
   text-shadow: 0 0 5px #ff003c;
}

.cadastro-card-title p {
   color: #00F0FF;
   font-size: 12px;
}

.cadastro-card form {
   margin-top: 45px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.info-areas {
    display: flex;
    flex-direction: row;
}

.cadastro-card form div {
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: #FCEE09;
   position: relative;
}

.cadastro-card form div label {
   font-size: 12px;
}

.cadastro-card form div input {
   padding: 10px;
   border-radius: 5px;
   font-size: 12px;
   outline: 0;
   color: #FCEE09;
   border: 1px solid #00F0FF;
   background-color: #050a0e;
}

.cadastro-card form div select {
   padding: 10px;
   border-radius: 5px;
   font-size: 12px;
   outline: 0;
   color: #FCEE09;
   border: 1px solid #00F0FF;
   background-color: #050a0e;
}

.cadastro-card form div:nth-of-type(2) input {
   padding: 10px 30px 10px 10px;
}

.cadastro-card form div i {
   position: absolute;
   top: 38px;
   right: 10px;
   font-size: 12px;
   cursor: pointer;
}

.cadastro-card form button {
   margin-top: 15px;
   border: 0;
   padding: 10px;
   font-weight: 600;
   border-radius: 5px;
   color: #050a0e;
   background-color: #ff003c;
   transition: 0.3s;
   cursor: pointer;
}

.cadastro-card form button:hover {
   scale: 1.05;
}

.cadastro-card > p {
   color: #ff003c;
   font-size: 12px;
   margin-top: 15px;
   text-align: center;
}

.cadastro-card > p a {
   color: #00F0FF;
}

.cadastro-card > p a:hover {
   text-decoration: underline;
}