body {
   display: flex;
   flex-direction: column;
   background: url(../Assets/backgrounds/login_background.svg) no-repeat #050a0e 50% 0;
   background-size: cover;
}

.cadastro-wrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
}

.cadastro-card {
   width: 100%;
   max-width: 750px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 15px 25px;
   position: relative;
   filter: drop-shadow(0 0 5px #ff003c) drop-shadow(0 0 5px #ff003c);
}

.cadastro-card::before, .cadastro-card::after {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   background-color: #050a0e;
   clip-path: shape(from 0 0, line to 97% 0%, line to 100% 5%, line to 100% 100%, line to 3% 100%, line to 0% 95%, close);
   z-index: -1;
}

.cadastro-card::after {
   background: linear-gradient(45deg, transparent, #ff003c26, transparent);
}

.cadastro-card-title {
   align-self: center;
   text-align: center;
}

.cadastro-card-title h1 {
   font-size: 18px;
   text-shadow: 0 0 5px #ff003c;
}

.cadastro-card-title p {
   color: #00F0FF;
   font-size: 10px;
}

.cadastro-card form {
   width: 100%;
   display: flex;
}

.cadastro-card form > div {
   display: flex;
   flex-direction: column;
   gap: 10px;
   flex: 1;
   min-width: 0;
}

.cadastro-card form .personal-info {
   padding-right: 20px;
   border-right: 2px solid #ff003c;
}

.cadastro-card form .personal-info > div:nth-of-type(2) {
   flex-direction: row;
}

.cadastro-card form .account-info {
   padding-left: 20px;
}

.cadastro-card form > div h2 {
   padding-bottom: 10px;
   font-size: 12px;
   color: #ff003c;
   text-shadow: 0 0 5px #ff003c;
   border-bottom: 2px solid #00F0FF;
}

.cadastro-card form > div > div {
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: #FCEE09;
   position: relative;
}

.cadastro-card form > div > div label {
   font-size: 10px;
}

.cadastro-card form > div > div i {
   position: absolute;
   top: 29px;
   right: 10px;
   font-size: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.cadastro-card form > div > div i:hover {
   opacity: 0.5;
}

.cadastro-card form > div > div input, .cadastro-card form > div > div > div select {
   padding: 4px 5px;
   border-radius: 5px;
   font-size: 12px;
   outline: 0;
   color: #FCEE09;
   border: 1px solid #00F0FF;
   background-color: #050a0e;
}

.cadastro-card form > div > div input::placeholder {
   color: #fcf00977;
}

.cadastro-card form > div > div > div select {
   font-size: 10px;
}

.cadastro-card form > div > div > div {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.register-button {
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: center;
}

.register-button button {
   align-self: center;
   border-radius: 5px;
   padding: 10px 50px;
   color: #050a0e;
   background-color: #ff003c;
   font-size: 12px;
   font-weight: 600;
   border: 0;
   transition: 0.3s;
   cursor: pointer;
}

.register-button button:hover {
   scale: 1.05;
}

.register-button p {
   font-size: 10px;
   color: #ff003c;
}

.register-button p span {
   color: #00F0FF;
}