# Preencha com 'desenvolvimento' ou 'produção'
AMBIENTE_PROCESSO=XXXXX

# Configurações de conexão com o banco de dados
DB_HOST=localhost
DB_DATABASE='XXXXX'
DB_USER='XXXXX'
DB_PASSWORD='XXXXX'
DB_PORT=3306

# Configurações do servidor de aplicação
APP_PORT=XXXXX
APP_HOST=localhost
